
#sbody {
  font-family: Arial;
  background: #ff1f44;
}

#sbody h1 {
  color: #ffffff;
  text-align: center;
  padding: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

#signUp {
  background: #ffffff;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  padding: 30px;
  border-radius: 35px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#signUp p {
  color: #ff1f44;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

input {
  margin-bottom: 25px;
  display: block;
}

.textbox {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 250px;
  font-size: 15px;
  border-radius: 5px;
  border-style: inset;
  background: #ffffff;
}

#Sbutton {
  margin-left: auto;
  margin-right: auto;
  background: #ff1f44;
  border: none;
  border-radius: 8px;
  padding: 20px;
  color: white;
  font-size: 20px;
  transition-duration: .5s;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  width: 250px;
}

#Sbutton:hover {
  background: white;
  border: 1px solid #ff1f44;
  color: black;
  cursor: pointer;
}


#login {
  color: #ffffff;
  text-align: center;
  padding: 90px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}

#SignUpLink {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

#s {
  color: #00c8ff;
}
